In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataframe = pd.read_csv("/content/Students_Performance.csv")

In [3]:
dataframe.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
dataframe.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [5]:
num_males = sum(dataframe['gender'] == 'male')
num_females = len(dataframe['gender']) - num_males

Number of males

In [6]:
num_males

482

Number of females

In [7]:
num_females

518

In [9]:
print(dataframe['parental level of education'])

0        some high school
1             high school
2        some high school
3            some college
4            some college
              ...
995          some college
996          some college
997          some college
998    associate's degree
999     bachelor's degree
Name: parental level of education, Length: 1000, dtype: object

In [10]:
some_college = sum(dataframe['parental level of education'] == 'some college')

In [11]:
some_college

226

In [12]:
some_highschool = sum(dataframe['parental level of education'] == 'some high school')

In [13]:
some_highschool

179

In [15]:
Associate_degree = sum(dataframe['parental level of education'] == "associate's degree")

In [16]:
Associate_degree

222

In [17]:
Bachelor_degree = sum(dataframe['parental level of education'] == "bachelor's degree")

In [18]:
Bachelor_degree

118

In [19]:
dataframe.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]>

In [25]:
masters_degree = sum(dataframe['parental level of education'] == "master's degree")

In [26]:
masters_degree

59

Parental level of education is more on Associate degree and Some college while it is least on Master's degree

In [38]:
dataframe['math score'].mean()

66.001

In [42]:
dataframe['reading score'].mean()

69.195

In [43]:
dataframe['writing score'].mean()

68.119

Mean of reading score is slightly more than writing score while least mean is math score